<h1>Editing registro txt</h1>

<%= render "form", registro_txt: @registro_txt %>

<br>

<div>
  <%= link_to "Show this registro txt", @registro_txt %> |
  <%= link_to "Back to registro txts", registro_txts_path %>
</div>
