<div id="<%= dom_id registro_mx %>">
  <p>
    <strong>Nombre:</strong>
    <%= registro_mx.nombre %>
  </p>

  <p>
    <strong>Redirige:</strong>
    <%= registro_mx.redirige %>
  </p>

  <p>
    <strong>Prioridad:</strong>
    <%= registro_mx.prioridad %>
  </p>

</div>
