<h1>Editing registro mx</h1>

<%= render "form", registro_mx: @registro_mx %>

<br>

<div>
  <%= link_to "Show this registro mx", @registro_mx %> |
  <%= link_to "Back to registro mxes", registro_mxes_path %>
</div>
