<div id="<%= dom_id registro_aaaa %>">
  <p>
    <strong>Nombre:</strong>
    <%= registro_aaaa.nombre %>
  </p>

  <p>
    <strong>Redirige:</strong>
    <%= registro_aaaa.redirige %>
  </p>

</div>
