<h1>Editing registro aaaa</h1>

<%= render "form", registro_aaaa: @registro_aaaa %>

<br>

<div>
  <%= link_to "Show this registro aaaa", @registro_aaaa %> |
  <%= link_to "Back to registro aaaas", registro_aaaas_path %>
</div>
