<h1>Editing registro srv</h1>

<%= render "form", registro_srv: @registro_srv %>

<br>

<div>
  <%= link_to "Show this registro srv", @registro_srv %> |
  <%= link_to "Back to registro srvs", registro_srvs_path %>
</div>
