<div id="<%= dom_id registro_cname %>">
  <p>
    <strong>Nombre:</strong>
    <%= registro_cname.nombre %>
  </p>

  <p>
    <strong>Redirige:</strong>
    <%= registro_cname.redirige %>
  </p>

</div>
