<h1>Editing registro cname</h1>

<%= render "form", registro_cname: @registro_cname %>

<br>

<div>
  <%= link_to "Show this registro cname", @registro_cname %> |
  <%= link_to "Back to registro cnames", registro_cnames_path %>
</div>
